<div class={{style.messages}}>
  {{{header}}}
  <div class={{style.messageList}}>
    <div class={{style.date}}>{{date}}</div>
    {{#each messages}}
      {{{this}}}
    {{/each}}
  </div>
  {{{inputs}}}
</div>
