<div class={{style.avatarEdit}}>
    <div class={{style.avatarEdit-container}}>
      <div class={{style.avatarEdit-avatar}}>
        <div class={{style.avatarEdit-avatar-photo}}>
          {{{avatar}}}
        </div>
        <div class={{style.avatarEdit-container-name}}>{{name}} {{surname}}</div>
      </div>
      <div class={{style.avatarEdit-controls}}>
        {{{fileInput}}}
        {{{chooseButton}}}
        {{{backwardButton}}}
      </div>
  </div>
</div>
