<div class={{style.chats-page}}>
  {{{navigation}}}
  <main class={{style.content}}>
    <div class={{style.content-chats}}>
      {{{users}}}
      {{{search}}}
      {{{chatList}}}
    </div>
    <div class={{style.content-chat}}>
      {{{messages}}}
    </div>
  </main>
</div>
