<section class={{style.navigation}}>
    <div>
      <div class={{style.navigation-logo}}></div>
      <nav class={{style.navigation-buttons}}>
        {{{chatButton}}}
        {{{profileButton}}}
      </nav>
    </div>
    {{{logoutButton}}}
</section>
