<div class={{style.navigation-page}}>
    <h1>Navigation Page</h1>
    {{{button1}}}
    {{{button2}}}
    {{{button3}}}
    {{{button4}}}
    {{{button5}}}
    {{{button6}}}
    {{{button7}}}
    {{{button8}}}
    {{{button9}}}
</div>
