<div class={{style.avatar}}>
    <div class={{style.avatar-photo-ears}}></div>
    <div class={{style.avatar-photo}}>
        <img src={{photo}} />
        {{#if isEditButtonEnable}}
            {{{editButton}}}
        {{/if}}
    </div>
</div>
